body{
    margin: 0;
    background: hsl(207, 26%, 17%);
    color: hsl(0, 0%, 100%);
    font-family: 'Roboto', sans-serif;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Top bar  */
.top-bar{
    height: 7.5vh;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    background: hsl(209, 23%, 22%);
}
.title{
    margin: 40px;
    float: left;
    font-size: 25px;
    font-weight: 500;
}
.theme-switch{
    margin: 40px;
    float: right;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    font-size: 15px;
    font-weight: 300;
}

/* middle bar */
/* left side */
.middle-bar{
    width: 100%;
    height: 200px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-bar{
    margin: 40px;
    
    width: 400px;
    height: 65px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 5px;
    background: hsl(209, 23%, 22%);
}
.input-bar{
    color: white;

    width: 90%;
    height: 100%;

    background: none;
    outline-width: 0;
    border: none;

    font-size: 15px;
}
.search-icon{
    height: 20px;
    width: 20px;
    margin: 20px;
}
/* right side */
.region-selector{
    margin: 40px;
    
    width: 300px;
    height: 65px;

    display: flex;    
    align-items: center;
    justify-content: space-between;
    text-align: left;

    border-radius: 5px;
    background: hsl(209, 23%, 22%);

    user-select: none;
    transition: 0.2s;
}
.region-selector:hover{
    background: hsl(209, 23%, 28%);
}
.region{
    margin: 25px;
}
.arrow{
    margin: 25px;
}

/* Countries */
.country-list{
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
}
.item{
    width: 250px;
    height: 300px;
    background: hsl(209, 23%, 22%);
    border-radius: 5px;
    overflow: hidden;

    text-align: center;
}
.country-image{

    background: orange;
    height: 150px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.image{
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}
.country-name{
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}