body{
    margin: 0;
    background: hsl(207, 26%, 17%);
}
@media only screen and (max-width: 5000px){
    .title{
        font-size: 20px;
    }
    .country-list{
        grid-template-columns: repeat(5, 1fr);
        display: grid;
    }
    .middle-bar{
        flex-direction: row;
    }
    .positioning-right{
        margin-right: 40px;
        justify-content: right;
    }
    .region-selector{
        margin-right: 40px;
    }
}
@media only screen and (max-width: 1600px){
    .country-list{
        grid-template-columns: repeat(4, 1fr);
    }
}
@media only screen and (max-width: 1180px){
	.country-list{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media only screen and (max-width: 900px){
	.country-list{
        grid-template-columns: repeat(2, 1fr);
    }
    .middle-bar{
        flex-direction: column;
    }
    .positioning-right{
        margin-top: 140px;
        margin-bottom: 10px;
        justify-content: center;
    }
    .title{
        font-size: 15px;
    }
    
}
@media only screen and (max-width: 580px){
	.country-list{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .title{
        color: orange;
        font-size: 10px;
    }
    
}
.App{
    margin: 0;
    color: hsl(0, 0%, 100%);
    font-family: 'Roboto', sans-serif;
    transition: 0.3s;
    height: 100vh;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Top bar  */
.top-bar{
    height: 7.5vh;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    background: hsl(209, 23%, 22%);
}
.title{
    margin: 40px;
    float: left;
    font-weight: 500;
    width: 100%;
}
.theme-switch{
    margin: 40px;
    float: right;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;

    gap: 10px;

    width: 120px;
    height: 25px;

    font-size: 15px;
    font-weight: 300;
}
.theme-switch:hover{
    cursor: pointer;
    opacity: 0.5;
    /* background: white; */
}

/* middle bar */
/* left side */
.middle-bar{
    margin-top: 100px;

    width: 100%;
    height: 70px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-bar{
    margin: 40px;
    
    width: 400px;
    height: 65px;

    display: flex;
    
    align-items: center;

    border-radius: 5px;
    background: hsl(209, 23%, 22%);
}
.input-bar{
    color: white;

    width: 70%;
    height: 100%;

    background: none;
    outline-width: 0;
    border: none;

    font-size: 15px;
}
.search-icon{
    color: white;
    height: 20px;
    width: 20px;
    margin: 20px;
    transition: 0.1s;
}
.search-icon:hover{
    cursor: pointer;
    transform: scaleY(1.25) scaleX(1.25)
}
/* right side */
.theRegion{
    background-color: aliceblue;
    display: block;
    /* margin: 40px; */
    width: 300px;
    height: 200px;
}
.region-selector{
    
    text-align: center;
    
    margin-right: 40px;

    width: 300px;
    height: 67px;

    display: flex;    
    align-items: center;
    justify-content: space-between;
    text-align: left;

    border-radius: 5px;
    background: hsl(209, 23%, 22%);

    user-select: none;
    transition: 0.2s;
}
.region-selector:hover{
    background: hsl(209, 23%, 28%);
    cursor: pointer;
}
.options{
    
    opacity: 100;
    margin-top: 5px;
    border-radius: 5px;
    background: hsl(209, 23%, 22%);
    width: 300px;
    height: fit-content;
    z-index: 10;
    
}
.options:hover{
    cursor: pointer;
}
.positioning-right{
    display: flex;
    align-items: center;
}
.con{
    user-select: none;
    margin-left: 20px;
}
.continent{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    
}
.continent:hover{
    background: hsla(209, 23%, 28%, 0.2);
    filter: brightness(1.2);
}

.right-side{
    margin-top: 175px;
    margin-right: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.region{
    margin: 25px;
}
.arrow{
    margin: 25px;
}

/* Countries */
.country-description{
    font-size: 15px;
}
.country-list{
    width: fit-content;
    gap: 50px;
}
.item{
    width: 250px;
    height: 300px;
    background: hsl(209, 23%, 22%);
    border-radius: 5px;
    overflow: hidden;

    text-align: center;

    transition: 0.2s;
}
.item:hover{
    transform: scaleY(1.1) scaleX(1.1)
   
}
.country-image{

    background: orange;
    height: 150px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.image{
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}
.country-name{
    font-size: 17px;
}
.google-link{
    color: white;
}